@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;0,900;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;700&display=swap');

:root {
  /* Main */
  --main-h: 224;
  --main-s: 82%;
  --main-l: 53%;

  /* Secondary */
  --secondary-h: 48;
  --secondary-s: 92%;
  --secondary-l: 60%;

  /* Error */
  --error-h: 0;
  --error-s: 97%;
  --error-l: 25%;

  /* Font */
  --font-h: 0;
  --font-s: 0%;
  --font-l: 20%;

  /* Background */
  --bg-h: 0;
  --bg-s: 0%;
  --bg-l: 74%;

  /* White */
  --wb-h: 0;
  --wb-s: 0%;
  --wb-l: 100%;

  /* Black */
  --bw-h: 0;
  --bw-s: 0%;
  --bw-l: 0%;

  --themeFontFamily: "Montserrat";
  --borderRadius: 0.5em;
}


* {
  box-sizing: border-box;
}

html {
  max-width:100%;
  overflow-x: hidden;
}
 

body {
    /* Final usable colors */
  --themeMainColor: hsl(var(--main-h), var(--main-s), var(--main-l));
  --themeSecondaryColor: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --themeErrorColor: hsl(var(--error-h), var(--error-s), var(--error-l));
  --themeFontColor: hsl(var(--font-h), var(--font-s), var(--font-l));
  --themeBackgroundColor: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
  --whiteToBlack: hsl(var(--wb-h), var(--wb-s), var(--wb-l));
  --blackToWhite: hsl(var(--bw-h), var(--bw-s), var(--bw-l));

  background-color: var(--themeBackgroundColor);
  color: var(--themeFontColor);
  font-family: var(--themeFontFamily);
  font-size: clamp(1em, 1.2vw, 1.25em);
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body.dark {
  --bg-l: 10%;
  --font-l: 90%;
  --main-l: 65%;
  --wb-l: 0%;
  --bw-l: 100%;
}

.navbar {
  padding: calc(10px + 1.5vw) calc(10px + 3vw);
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navbar h1 {
  color: var(--themeMainColor);
  margin-bottom: 0;
}

h4 {
  font-weight: 400;
  margin-bottom: 20px;
}

.content {
  margin: 0 auto;
  padding: calc(10px + 1vw);
} 

a {
  color: hsl(calc(var(--font-h) + 202), calc(var(--font-s) + 90%), var(--font-l));
}

.menuBtnCon {
  position: fixed;
  width: 2.5em;
  height: 2.5em;
  right: 1em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  border: 1px solid var(--themeMainColor);
  transition: all 0.25s ease;
  z-index: 90;
}
.menuBtnCon:hover {
  background-color: rgba(255, 255, 255, 1);
}
.menuBtnCon:has(.active) {
  background-color: rgba(255, 255, 255, 1);
}
.menu {
  display: flex;
  flex-flow: column;
  position: fixed;
  right: -101vw;
  top: 4em;
  background-color: #ececec;
  padding: 1em;
  list-style: none;
  border-radius: 0.25em;
  transition: all 0.25s ease;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  z-index: 999;
}
.menu.open {
  right: 1em;
}
.menu li {
  width: 100%;
}
.menu a {
  text-decoration: none;
  color: #333333;
  font-size: 1em;
  padding: 1em;
  line-height: 3em;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: var(--themeMainColor);
}

/* animated hamburger menu (https://codepen.io/ainalem/pen/LJYRxz)*/
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:var(--themeMainColor);
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

button {
  margin: 0.15em 0.3em 0.15em 0;
  text-decoration: none;
  padding: 1em 1.5em;
  transition: all 0.3s ease;
  border-radius: var(--borderRadius);
  border: 0;
  cursor: pointer;
  font-family: var(--themeFontFamily);
  background-color: var(--whiteToBlack);
  color: var(--blackToWhite);
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
button:hover {
  background-color: var(--themeMainColor);
  color: var(--themeBackgroundColor);
}
.confirm:hover {
  background-color: var(--themeMainColor);
}
.cancel:hover {
  background-color: hsl(var(--main-h), calc(var(--main-s) - 62%), calc(var(--main-l) - 25%));
}
.delete:hover {
  background-color: var(--themeErrorColor);
}
.revertBtn {
  background-color:var(--themeMainColor) ;
  padding: 0.25em;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  color: white;
  border: none;
  position: relative;
}
.revertBtn:hover {
  border: none;
  background-color: #ce0b0b;
  color: #fff;
}
.revertBtn::after {
  opacity: 0;
  content: "ZRUŠIŤ";
  position: absolute;
  color: #fff;
  background-color: #ce0b0b;
  right: 50%;
  top: -1.5em;
  display: block;
  padding: 0.25em 0.5em;
  transform: translateX(50%);
  border-radius: 0.5em;
  transition: all 0.3s ease;
  pointer-events: none;
}
.revertBtn:hover::after {
  opacity: 1;
}

.loginForm {
  width: 90vw;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 350px;
}

.loginForm form {
  margin: 15px 0;
}

label {
  width: 100%;
  display: block;
  margin-top: 15px;
}

input,
textarea {
  width: 100%;
  margin: 5px 0;  
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: var(--themeFontFamily);
}

.loginForm textarea {
  max-width: 100%;
  min-height: 150px;
}

select {
  padding: 10px;
  min-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.loginForm button {
  background-color: var(--themeMainColor);
  border: 1px solid var(--themeMainColor);
  color: #fff;
  width: 100%;
}

.passInput {
  position: relative;
}
.passEye {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 0 0.8em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.25s;
}
.passEye:hover {
  opacity: 0.85;
}

.underFormLine {
 text-align: center;
}

.countDown {
  color: hsl(var(--font-h), var(--font-s), calc(var(--font-l) + 5%));
  background: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + 7%));
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
}

.countDown h1 {
  font-family: 'Sometype Mono', monospace;
  margin: 0 0 0.5em;
  background: var(--whiteToBlack);
  padding: 0.25em 0.7em;
  border-radius: var(--borderRadius);
}

.itemLine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em 0;
  border-bottom: 1px solid #fff;
}
.itemLine > div {
  display: block;
}
.itemLineHead {
  font-weight: 800;
}
.secondaryLine {
  font-size: 0.85em;
}
.errMessage {
  text-align: center;
  color: #fff;
  padding: 0 0.5em;
  line-height: 2em;
  background-color: var(--themeErrorColor);
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  transform: scale(1.05);
}

#logout {
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
#logout:hover {
  color: var(--themeErrorColor);
}

.modal {
  background: #fff;
  border-radius: var(--borderRadius);
  border: none;
  text-align: center;
}
.modal::backdrop {
  background: hsl(0 0% 0% / 70%);
}

.modal-content {
  background-color: #fefefe;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1em;
}

.modal-actions {
  margin-top: 1em;
}

/* DateModal (background) */
.dateModal {
  display: block;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  border: none;
  transition: all 0.25s cubic-bezier(.62,.32,.62,1.19);
  transform: scale(0);
}

/* DateModal Content */
.dateModal .modal-content {
  background-color: #fefefe;
  box-sizing: border-box;
  padding: calc(20px + 2vw);
  width: 90vw;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* The Close Button */
.dateModalClose {
  color: #aaaaaa;
  font-size: 2.5em;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.25s;
}

.dateModalClose:hover,
.dateModalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.react-datepicker {
  margin: 1em 0;
  font-family: inherit !important;
}

.dateModal button {
  margin-top: 1em;
  font-size: 0.9em;
  border-color: var(--themeMainColor);
}

.sortBtnCon {
  display: flex;
  gap: 0.25em;
  margin-bottom: 0.25em;
  flex-wrap: wrap;
  padding: 0.5em 0;
}

.kid-card {
  border-radius: var(--borderRadius);
  padding: 16px;
  margin-bottom: 12px;
  background: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) + 7%));
  position: relative;
}
.kid-nameNdate {
  margin-bottom: 0.5em;
}
.kid-name {
  display: block;
  font-size: 1.2em;
}

.kid-info {
  display: grid;
  gap: 0.5em;
  font-size: 0.85em;
}

.buttonLine {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.kid-card-number {
  position: absolute;
  right: 1em;
  font-size: 0.75em;
  opacity: 0.6;
}

/* Desktop */
@media (min-width: 768px) {
  .kid-info {
    grid-template-columns: 
      1.2fr   /* Nar. */
      1.2fr   /* Rodič */
      0.8fr   /* Odhlásení */
      1.2fr   /* Naposledy */
      1.2fr   /* Pridané */
      auto;   /* Button */
    align-items: center;
  }

  .kid-info div span {
    display: none; /* skry labely na desktope */
  }
}

/* Mobile */
@media (max-width: 767px) {
  .kid-info div {
    display: flex;
    justify-content: space-between;
  }

  .kid-info div span {
    font-weight: 600;
  }

  .kid-info button {
    margin-top: 8px;
  }
}

#adminTimeSet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#adminTimeSet input {
  font-size: 2em;
  font-weight: bold;
  width: auto;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.homeIcon {
  display: flex;
  height: calc(10em + 5vw);
  width: calc(10em + 5vw);
  margin: 3em auto;
}

/************* DarkThemeSwitch ***************/
#themeSwitch {
  display: inline-flex;
  width: 46px;
  height: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

#themeSwitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--themeSecondaryColor);
  border-radius: 50%;
  transition: left 0.25s ease;
  position: absolute;
  left: -10px;
  z-index: 2;
  box-shadow: 0 0 3px #fff;
}

input:checked + .toggler {
  left: 25px;
  background-color: #07193d;
}

input:focus + .toggler {
  border: 1px solid #ffffff05;
}

input:checked + .toggler {
  content: var(--themeMainColor);
  color: #fff;
}